.player {
  width: 300px;
  display: flex;
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  > span {
    font-size: 32px;
    margin-left: 16px;
  }
  > img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
  }
  background-color: rgb(95, 95, 95, 0.8);
}

.player-active {
  background-color: rgb(255, 165, 0) !important;
}
