.player {
  width: 300px;
  display: flex;
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  > span {
    font-size: 32px;
    margin-left: 16px;
  }
  > img {
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
  }
  background-color: beige;
}
