.player {
  width: 300px;
  display: flex;
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-right: 8px;
  background-color: rgba(100, 100, 100, 0.4);
  backdrop-filter: blur(5px);

  &:hover {
    cursor: pointer;
    filter: brightness(1.15);
  }

  > span {
    overflow: hidden;
    font-size: 24px;
    text-overflow: ellipsis;
    margin-left: 16px;
  }
  > img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    outline: 3px solid rgb(0, 0, 0);
  }

  @media (max-width: 992px) {
    max-width: 200px;
    > span {
      font-size: 16px;
    }
  }
}

.player-active {
  background-color: #f78c31;
}
