:host {
  --mdc-outlined-text-field-focus-outline-color: #f78c31;
  --mdc-outlined-text-field-hover-outline-color: #f78c31;
  --mdc-outlined-text-field-label-text-color: #f78c31;
  --mdc-outlined-text-field-focus-label-text-color: #f78c31;
}
