.player {
  padding: 8px;
  width: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;

  &:hover {
    cursor: pointer;
    filter: brightness(1.15);
  }

  > span {
    max-width: 76px;
    font-size: 16px;
    text-align: center;
    display: none;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  > img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    outline: 2px solid rgb(0, 0, 0);
  }
  background-color: rgb(95, 95, 95, 0.8);
}

.player-active {
  background-color: #f78c31 !important;
  width: 88px;
  z-index: 10 !important;
  > span {
    display: inline;
  }
}
