:host {
  --mdc-outlined-text-field-focus-outline-color: #f78c31;
  --mdc-outlined-text-field-hover-outline-color: #f78c31;
  --mdc-outlined-text-field-label-text-color: #f78c31;
  --mdc-outlined-text-field-focus-label-text-color: #f78c31;
}

.container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    display: flex;
    gap: 16px;
  }
}

.dialog-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  > h1 {
    margin-bottom: 0;
    margin-left: 8px;
    padding: 0;
  }
}

.profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: orange;
  cursor: pointer;

  &:hover {
    filter: brightness(1.15);
  }
}

.name-edit-row {
  display: flex;
  > button {
    margin-top: 4px;
  }
}

.pictures-box {
  margin-bottom: 16px;
}
