.mat-card-container {
    color: white;
    background-color: rgba(100, 100, 100, 0.4);
    backdrop-filter: blur(5px);
  @media (max-width: 600px) {
    min-height: 160px;
    padding-right: 68px;
  }
}